<app-top-navbar></app-top-navbar>
<div class="row">
	<div class="col-sm-2 lessNavPading">
		<app-left-menu></app-left-menu>
	</div>
  <div class="col-sm-10 backgroundLiange">
    <div class="body">
      <div class="container">
        <div class="lft">
          <div id="cssmenu">

            <ul>
              <li class="active">
                <a href="#"> All Deeds</a>
              </li>
              <li>

              <li>
                <a routerLink='/home'>
                  <i class="fa fa-home"></i> &nbsp;Home</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="container">
        <div class="heading">

        </div>
      </div>
      <br>
      <br>
      <br>

      <div class="container">
        <div class="formstart">
          <h2>All Deeds</h2>
          <br>
          <br>
          <br>
          <div class="rconner">
            <div class="form-group">
              <span class="deed">
                <i class="fa fa-plus"></i>
                <i class="fa fa-file"></i>&nbsp;&nbsp;
                <a routerLink='/deed/deed-add'>Add Deed </a>
              </span> &nbsp;&nbsp; &nbsp;
            </div>
          </div>

          <div class="row">
            <label>Category &nbsp;:</label>
            <div class="col-md-2">
              <div class="form-group">
                <select class="form-control form-control-sm" [(ngModel)]="selectedSearch" name="search">
                  <option *ngFor="let dc of dcategoryType " [value]="dc.value">{{dc.name}} </option>
                </select>



                <!-- <select class="form-control">
              <option selected>Choose...</option>
              <option value="1">Deed No</option>
              <option value="2">Client Name</option>
              <option value="3">Deed Type</option>
              <option value="3">Property Type </option>
            </select> -->


              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <input class="form-control form-control-sm" *ngIf="selectedSearch=='deedno'" type="number"
                  placeholder="Enter search value" aria-label="Search" [(ngModel)]="searchDetails.deedno"
                  #searchNationality="ngModel">
                <input class="form-control form-control-sm" *ngIf="selectedSearch=='clientname'" type="search"
                  placeholder="Enter search value" aria-label="Search" [(ngModel)]="searchDetails.clientname"
                  #searchNationality="ngModel">
                <input class="form-control form-control-sm" *ngIf="selectedSearch=='DeedType'" type="search"
                  placeholder="Enter search value" aria-label="Search" [(ngModel)]="searchDetails.deedtype"
                  #searchNationality="ngModel">
                  <input class="form-control form-control-sm" *ngIf="selectedSearch=='PropertyType'" type="search"
                  placeholder="Enter search value" aria-label="Search" [(ngModel)]="searchDetails.propertytype"
                  #searchNationality="ngModel">
              </div>
            </div>
          </div>
          <br>
          <br>

          <div class="row">
            <div class="col-md-4">
              <p>Fillted Deed Count :
                <span class="number">{{(deeds| deedFilter:searchDetails).length}}</span></p>
            </div>

            <div class="col-md-8">
              <button type="button" class="btn btn-success btn-sm fa fa-refresh" id="refreshbutton">&nbsp;
                Refresh</button>
            </div>
          </div>
          <br>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>

                  <th scope="col">Deed No</th>
                  <th scope="col">Client Name</th>
                  <th scope="col">Deed Type</th>
                  <th scope="col">Property Type</th>
                  <th scope="col">DayBook no </th>
                  <th scope="col">DayBook date </th>
                  <th scope="col">Status </th>
                  <th scope="col">Edit</th>
                  <th scope="col">View</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let deed of deeds|deedFilter:searchDetails|paginate: { itemsPerPage: 13, currentPage: p}">
                  <td>{{deed. deedno}}</td>
                  <td>{{deed. clientname}}</td>
                  <td>{{deed. deedtype}}</td>
                  <td>{{deed. propertytype}}</td>
                  <td>{{deed. daybookno}}</td>
                  <td>{{deed. daybookdate}}</td>
                  <td>{{deed. status}}</td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Edit">
                      <a routerLink='/deed/deed-update/{{deed.id}}'>
                        <i class="fa fa-edit"></i></a>
                    </p>
                  </td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="View">
                      <a routerLink="/deed/deed-view/{{deed.id}}">
                        <i class="fa fa-info"></i>
                      </a>
                    </p>
                  </td>

                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Delete" (click)="deleteClient(deed)">
                      <i class="fa fa-trash"></i>
                    </p>
                  </td>
                </tr>
                <tr class="NoResultFound" [hidden]='(deeds| deedFilter:searchDetails).length'>
                  <td colspan="10">No Result Found</td>
                </tr>
                <br>
                <tr class="pagginationContainer" style="background-color: lavenderblush;"
                  [hidden]='!(deeds| deedFilter:searchDetails).length || (deeds| deedFilter:searchDetails).length < 13 '>
                  <td colspan="10">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>