<app-top-navbar></app-top-navbar>
<div class="row">
	<div class="col-sm-2 lessNavPading">
		<app-left-menu></app-left-menu>
	</div>
	<div class="col-sm-10" style="background-color: lavenderblush;">
    <div class="body">
  <div class="container" align="center">
    <div class="heading">
      <h2> Dashboard </h2>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="card1">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa fa-file fa-md"> &nbsp; Open Cases</i>
              </h5>
              <h6 class="c1">15 </h6>


            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card2">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa fa-file fa-md">&nbsp;&nbsp;Deeds</i>
              </h5>
              <h6 class="c2">8</h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card3">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa fa-list-alt fa-md">&nbsp;&nbsp; Todo's</i>
              </h5>
              <h6 class="c3">6</h6>
              <p class="card-text"></p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card4">
            <div class="card-body">
              <h5 class="card-title">
                <i class="fa fa-bell fa-md">&nbsp;Apoinments</i>
              </h5>
              <h6 class="c4">10</h6>

            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="panel">
            <div class="card5">
              <h5 class="card-title1"> Cases Per Person</h5>

              <div class="card-body">
                <p>No of arrival cases per month </p>
                <img src="assets/test/piechart1.jpg">
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="panel">
            <div class="card6">
              <h5 class="card-title2"> Recent Activities </h5>
              <div class="card-body">
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="panel">
            <div class="card7">
              <h5 class="card-title3"> Calendar</h5>
              <div class="card-body">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <br>
 
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</div>
  </div>
</div>