<app-top-navbar></app-top-navbar>
<div class="row">
	<div class="col-sm-2 lessNavPading">
		<app-left-menu></app-left-menu>
	</div>
  <div class="col-sm-10 backgroundLiange">
    <div class="body">
      <div class="container">
        <div class="formstart">
          <h2> Details </h2>
          <br>
          <br>
          <form>

            <a target="_blank" href="1.jpg">`
              <img src="/assets/staff/15.jpg" alt="Staff member" height="150px" width="150px" align="left">
            </a>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">


                  <span for="prefix">Prefix
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="prefix">&nbsp;&nbsp;{{staffs.title}}</label>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <span for="regno">Register
                    No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="regno">&nbsp;&nbsp;{{staffs.regno}}</label>
                </div>
              </div>
            </div>


            <br>


            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">

                  <span for="firstname">First
                    Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="firstname">&nbsp;&nbsp;{{staffs.firstname}}</label>
                </div>
              </div>


              <div class="col-lg-6">
                <div class="form-group">
                  <span for="lastname">Last
                    Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="lastname">&nbsp;&nbsp;{{staffs.lastname}}</label>
                </div>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">


                  <span
                    for="gender">Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    :
                  </span>
                  <label id="gender">&nbsp;&nbsp;{{staffs.gender}}</label>
                </div>
              </div>


              <div class="col-lg-6">
                <div class="form-group">


                  <span for="designation">Designation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span>
                  <label id="designation">&nbsp;&nbsp;{{staffs.designation}}</label>
                </div>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <span
                    for="nic">NIC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="nic">&nbsp;&nbsp;{{staffs.nic}}</label>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <span for="birthday"> Birthday
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="birthday">&nbsp;&nbsp;{{staffs.birthday}}</label>


                </div>
              </div>
            </div>

            <br>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">

                  <span for="address1">Address 1
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span>
                  <label id="address1">&nbsp;&nbsp;{{staffs.address1}}</label>
                </div>
              </div>
              <br>

              <div class="col-lg-6">
                <div class="form-group">
                  <span for="address2">Address 2
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="address2">&nbsp;&nbsp;{{staffs.address2}}</label>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">

                  <span
                    for="email">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="email">&nbsp;&nbsp;{{staffs.email}}</label>
                </div>
              </div>
              <br>

              <div class="col-lg-6">
                <div class="form-group">
                  <span for="mobileno">Mobile Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="mobileno">&nbsp;&nbsp;{{staffs.mobileno}}</label>
                </div>
              </div>
            </div>
            <br>


            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <span for="years">Call to the
                    Bar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="years">&nbsp;&nbsp;{{staffs.call_to_bar}}</label>
                </div>
              </div>
              <br>

              <div class="col-lg-6">
                <div class="form-group">
                  <span for="joindate">Date Joined
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="joindate">&nbsp;&nbsp;{{staffs.date_joined}}</label>

                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">

                  <span for="practice">Areas of Practice &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="practice">&nbsp;&nbsp;{{staffs.practice_area}}</label>
                </div>
              </div>
              <br>

              <div class="col-lg-6">
                <div class="form-group">
                  <span for="experience">Work Experience &nbsp;&nbsp;&nbsp;&nbsp;:</span>
                  <label id="experience">&nbsp;&nbsp;{{staffs.experience}}</label>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">

                  <span for="qualificatiom"> Academic/Professional Qualifications &nbsp;:</span>
                  <label id="qualificatiom">&nbsp;&nbsp;{{staffs.qualifications}}</label>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="btn-group">
              <button type="button" class="btn btn-success btn-sm fa fa-arrow-left" routerLink='/staff'> &nbsp;Back
              </button>
              <button type="button" class="btn btn-success btn-sm fa fa-pencil" (click)="redirectoUpdate(staffs)"> &nbsp;Update </button>
              <button type="button" class="btn btn-danger btn-sm fa fa-trash" (click)="deleteClient(staffs)">&nbsp;Delete</button>


            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>