<div class="support-menu">
    <nav class="vertical">
        <ul>

            <li>
                <a href="#">
                    <i class="fa fa-home fa-lg"></i>HOME </a>
                <div>
                    <ul>
                        <li>
                            <a routerLink='/dashboard'>Dashboard</a>
                        </li>


                    </ul>
                </div>
            </li>


            <li>
                <a href="/staff">STAFF MANAGEMENT</a>
                <div>
                    <ul>
                        <li>
                            <a routerLink='/staff'>Staff Contact </a>
                        </li>
                        <li>
                            <a routerLink='/staff/lawyer-add'>Add Staff</a>
                        </li>
                        <!-- <li>
                            <a routerLink='/staff/user-management'>User Management</a>
                        </li> -->
                        <li>
                            <a routerLink="/staff/previladge-management">Priviledge Management</a>
                        </li>

                    </ul>
                </div>
            </li>
            <li>
                <a routerLink='/client'>CLIENT MANAGEMENT </a>
                <div>
                    <ul>
                        <li>
                            <a routerLink='/client'>Client Contact</a>
                        </li>
                        <li>
                            <a routerLink='/client/client-add'>Add Client</a>
                        </li>

                    </ul>
                </div>
            </li>
            <li>
                <a routerLink='/case'>CASE MANAGEMENT</a>
                <div>
                    <ul>
                        <li>
                            <a routerLink='/case'>All Cases</a>
                        </li>
                        <li>
                            <a routerLink='/case/case-add'>Add Cases</a>
                        </li>
                        <!-- <li>
              <a routerLink='/case/case-process'>Case Process</a>
            </li>
            <li>
              <a routerLink='/case/case-payment'>Case Payment</a>
            </li> -->
                    </ul>
                </div>
            </li>

            <li>
                <a href="/deed">DEED MANAGEMENT</a>
                <div>
                    <ul>
                        <li>
                            <a routerLink='/deed'>All Deed</a>
                        </li>
                        <li>
                            <a routerLink='/deed/deed-add'>Add Deed</a>
                        </li>

                    </ul>
                </div>
            </li>

            <li>
                <a routerLink='/event'>EVENT MANAGEMENT</a>
                <div>
                    <ul>
                        <li>
                            <a routerLink='/event'>All Events</a>
                        </li>
                        <li>
                            <a routerLink='/event/event-add'>Add Event</a>
                        </li>

                    </ul>
                </div>
            </li>
            <li>
                <a routerLink="/book">LAW BOOKS</a>
                <div>
                    <ul>
                        <li>
                            <a routerLink='/book'>Book List</a>
                        </li>

                        <li>
                            <a routerLink='/book/book-add'>Add Law Book</a>
                        </li>

                    </ul>
                </div>
            </li>

            <li>
                <a href="#">REPORTS</a>
                <div>
                    <ul>
                        <li>
                            <a href="#">Reports</a>
                        </li>

                    </ul>
                </div>
            </li>

            <li>
                <a href="#">BACKUP</a>
                <div>
                    <ul>
                        <li>
                            <a routerLink='/tst'>Backup</a>
                        </li>



                    </ul>
                </div>
            </li>

        </ul>
    </nav>


</div>