button{
	align-items: center ;

}
h2{
	text-align: center;
	color: rgb(114, 51, 98);
	margin-left: 20px;
	
	
}

.lft{ 
	
	float:left;
	text-align:lft;

	}
	.rconner{ 
	
	float:right;
	text-align:lft;
	
}
.container #cssmenu{
	float: left;
}



.body{

	padding-top: 60px;
	text-align: left;
	font-size: 15px;
	background-image: url("/assets/client/ik.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	
	}
	
	#cssmenu ul {
		display: flex; /* A key part of our menu, displays items side by side, and allows reversing them */
		flex-direction: row-reverse; /* Reverse the items */
	}
	
	#cssmenu-container {
		height: 220px;
		background-color: #CEE3F8;
	}
	
	/* Menu container */
	#cssmenu {
		display: inline-block; /* The menu will have width as needed, not 100% */
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-family: Helvetica, sans-serif;
		font-size: 14px;
		line-height: 1em;
		border-radius: 2px; /* Little curvature in the borders */
		overflow: hidden; /* Hide everything that overflows, like shadows */
		align-items: flex-start;
	}
	
	/* Icons */
	#cssmenu i {
		transform: scale(1.4);
	}
	/* Menu */
	#cssmenu ul {
		display: flex; /* A key part of our menu, displays items side by side, and allows reversing them */
		flex-direction: row-reverse; /* Reverse the items */
		/* Reset styles, overwrite browser defaults */
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	#cssmenu ul li {
		margin: 0;
	}
	
	
	#cssmenu ul li a {
		display: inline-block;
		font-family: sans-serif;
		font-size: 0.9em;
		font-weight: 600;
		padding: 12px 30px 12px 45px; /* Adjusting padding to get the proper space */
		margin-left: -20px; /* Pull the items to the left, so the rounded right side will get over them */
		color: white;
		background-color: rgb(150, 88, 102);
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 0 100px 100px 0; /* Get the right side rounded */
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Apply the shadow */
	}
	/* Hover event */
	#cssmenu ul li:hover a {
		background-color: rgb(114, 51, 98);
	}
	
	/* Remove the shadow for first item, last in the right side when it gets reversed */
	#cssmenu ul li:first-child a {
		box-shadow: none;
	}
	
	/* Active item is a bit different */
	#cssmenu ul li.active a {
		color: white;
		background-color: rgb(114, 51, 98);
	}
	
	/* Remove the shadow for the active's next item, to match the design more accurately */
	#cssmenu ul li.active + li a {
		box-shadow: none;
	}

	p{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px; 
	}

	.pull-right{
		float:right;
    	background-color:navy;

}
.pull-right:hover{

    	background-color: rgb(167, 162, 162);
}
.rgt{
		float: right;

}
select{

		background-color: rgb(235, 220, 220);
}

input[type=search] {
		background-color: rgb(235, 220, 220);
		color: rgb(0, 0, 0);
}


.formstart{

		border-style: groove;
		border-width: 2px;
		border-color:black;
		margin-top: 20px;
		box-sizing: border-box; 
		width: auto;
		height: auto;
		padding: 50px;   
		border-radius: 15px; 
		box-shadow: 5px 5px;
		align-content: center;
		background: #FFF0F5;

}

a {
		color: black;
		cursor:pointer;
}
span .number{
	font-weight: 500;
	font-size: 30px;


}
#refreshbutton{

    font-size: 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px; 
	height: 25px;
	float: right;
}
#refreshbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
label{
	font-weight: bold;
	font-size: 15px;
}