<app-top-navbar></app-top-navbar>
<div class="row">
	<div class="col-sm-2 lessNavPading">
		<app-left-menu></app-left-menu>
	</div>
  <div class="col-sm-10 backgroundLiange">
    <div class="body ">
      <div class="container">
        <div class="lft">
          <div id="cssmenu">
            <ul>
              <li class="active">
                <a routerLink='/client'> All Contacts</a>
              </li>

              <li>
                <a routerLink='/home'>
                  <i class="fa fa-home"></i> &nbsp;Home</a>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="container">
        <div class="formstart">
          <h2>All Client Contacts</h2>
          <br>
          <br>
          <div class="rconner">
            <div class="form-group">
              <span class="clerk">
                <i class="fa fa-plus"></i>
                <i class="fa fa-user"></i>&nbsp;&nbsp;
                <a routerLink='/client/client-add'>Add Client </a>
              </span> &nbsp;&nbsp; &nbsp;


            </div>
          </div>

          <div class="row">
            <label>Category:</label>
            <div class="col-md-2">

              <div class="form-group">
                <select class="form-control form-control-sm" name="searchName" [(ngModel)]="selectedSearch"
                  #searchName="ngModel">
                  <option *ngFor="let srch of searchType " [value]="srch.value">{{srch.name}} </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <input class="form-control form-control-sm" *ngIf="selectedSearch=='firstname'" type="search"
                  placeholder="Enter search value" aria-label="Search" [(ngModel)]="searchDetails.firstname"
                  #searchNationality="ngModel">
                <input class="form-control form-control-sm" *ngIf="selectedSearch=='lastname'" type="search"
                  placeholder="Enter search value" aria-label="Search" [(ngModel)]="searchDetails.lastname"
                  #searchNationality="ngModel">
                <input class="form-control form-control-sm" *ngIf="selectedSearch=='registernumber'" type="search"
                  placeholder="Enter search value" aria-label="Search" [(ngModel)]="searchDetails.registernumber"
                  #searchNationality="ngModel">
              </div>
            </div>
          </div>
          <br>
          <br>

          <div class="row">
            <div class="col-md-4">
              <p>Fillted Client Count : <span class="number">{{(clients| clientFileter:searchDetails).length}}</span>
              </p>
            </div>

            <div class="col-md-8">
              <button type="button" class="btn btn-success btn-sm fa fa-refresh" id="refreshbutton"
                (click)="reset()">&nbsp; Refresh</button>
            </div>
          </div>
          <br>

          <table class="table table-striped">
            <thead>
              <tr>

                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Reg.No</th>
                <th scope="col">Address1</th>
                <th scope="col">Address2</th>
                <th scope="col">Address3</th>
                <th scope="col">Mobile </th>
                <th scope="col">Edit</th>
                <th scope="col">View</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let client of clients |clientFileter:searchDetails|paginate: { itemsPerPage: 13, currentPage: p}">

                <td>{{client.firstname}}</td>
                <td>{{client.lastname}}</td>
                <td>{{client.registernumber}}</td>
                <td>{{client.address1}}</td>
                <td>{{client.address2}}</td>
                <td>{{client.address3}}</td>
                <td>{{client.mobileno}}</td>
                <td>
                  <p data-placement="top" data-toggle="tooltip" title="Edit">
                    <a routerLink='/client/client-update/{{client.id}}'>
                      <i class="fa fa-edit"></i>
                    </a>
                  </p>
                </td>
                <td>
                  <p data-placement="top" data-toggle="tooltip" title="View">
                    <a routerLink="/client/client-view/{{client.id}}">
                      <i class="fa fa-info"></i>
                    </a>
                  </p>
                </td>
                <td>
                  <p data-placement="top" data-toggle="tooltip" title="Delete" (click)="deleteClient(client)">
                    <i class="fa fa-trash"></i>

                  </p>
                </td>
              </tr>

              <tr class="NoResultFound" [hidden]='(clients| clientFileter:searchDetails).length'>
                <td colspan="10">No Result Found</td>
              </tr>
              <br>
              <tr class="pagginationContainer" style="background-color: lavenderblush;"
                [hidden]='!(clients| clientFileter:searchDetails).length || (clients| clientFileter:searchDetails).length < 13 '>
                <td colspan="10">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>

  </div>
</div>