<app-top-navbar></app-top-navbar>
<div class="row">
	<div class="col-sm-2 lessNavPading">
		<app-left-menu></app-left-menu>
	</div>
	<div class="col-sm-10 backgroundLiange">
		<div class="body">

			<div class="container">
				<div class="lft">
					<div id="cssmenu">

						<ul>
							<li class="active">
								<a href="#"> All Cases</a>
							</li>

							<li>
								<a routerLink='/home'>
									<i class="fa fa-home"></i> &nbsp;Home</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
			<br>



			<br>
			<br>


			<div class="container">
				<div class="formstart">
					<h2>All Cases</h2>
					<br>
					<br>
					<div class="rconner">

						<div class="form-group">
							<span class="clerk">
								<i class="fa fa-plus"></i>
								<i class="fa fa-user"></i>&nbsp;&nbsp;
								<a routerLink='/case/case-add'>Add Case </a>
							</span> &nbsp;&nbsp; &nbsp;


						</div>
					</div>
					<div class="row">
						<label>Category:</label>
						<div class="col-md-2">
							<div class="form-group">
								<div class="form-row align-items-center">

									<select class="form-control form-control-sm" name="searchName"
										[(ngModel)]="selectedSearch" #searchName="ngModel">
										<option *ngFor="let srch of searchType " [value]="srch.value">{{srch.name}}
										</option>
									</select>

								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<input class="form-control form-control-sm" *ngIf="selectedSearch=='client'"
									type="search" placeholder="Enter search value" aria-label="Search"
									[(ngModel)]="searchDetails.client" #searchNationality="ngModel">
								<input class="form-control form-control-sm" *ngIf="selectedSearch=='oppositeclientname'"
									type="search" placeholder="Enter search value" aria-label="Search"
									[(ngModel)]="searchDetails.oppositeclientname" #searchNationality="ngModel">
								<input class="form-control form-control-sm" *ngIf="selectedSearch=='caseno'"
									type="search" placeholder="Enter search value" aria-label="Search"
									[(ngModel)]="searchDetails.caseno" #searchNationality="ngModel">
								<input class="form-control form-control-sm" *ngIf="selectedSearch=='casetitle'"
									type="search" placeholder="Enter search value" aria-label="Search"
									[(ngModel)]="searchDetails.casetitle" #searchNationality="ngModel">
								<input class="form-control form-control-sm" *ngIf="selectedSearch=='court'"
									type="search" placeholder="Enter search value" aria-label="Search"
									[(ngModel)]="searchDetails.court" #searchNationality="ngModel">
							</div>
						</div>
					</div>

					<br>
					<br>
					<div class="row">
						<div class="col-md-4">
							<p>Fillted Client Count :
								<span class="number">{{(cases| caseFilter:searchDetails).length}}</span>
							</p>
						</div>
						<div class="col-md-8">
							<button type="button" class="btn btn-success btn-sm fa fa-refresh" id="refreshbutton">&nbsp;
								Refresh</button>
						</div>
					</div>
					<br>
					<br>

					<table class="table table-striped">
						<thead>
							<tr>

								<th scope="col">Client Name</th>
								<th scope="col">Case Title</th>
								<th scope="col">Case No</th>
								<th scope="col">Court</th>
								<th scope="col">Status</th>
								<th scope="col">Process</th>
								<th scope="col">Edit</th>
								<th scope="col">View</th>
								<th scope="col">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="let case of cases|caseFilter:searchDetails|paginate: { itemsPerPage: 13, currentPage: p}">
								<td *ngIf="!(case && case.client)">
								</td>
								<td *ngIf="case && case.client">{{case.client.firstname}} {{case.client.lastname}}
								</td>
								<td>{{case.casetitle}}</td>
								<td>{{case.caseno}}</td>
								<td>{{case.court}}</td>
								<td>{{case.casestatus}}</td>
								<td>
									<p data-placement="top" data-toggle="tooltip" title="Process">
										<a routerLink='/case/case-process/{{case.id}}'>
											<i class="fa fa-clipboard"></i>
										</a>
									</p>
								</td>
								<td>
									<p data-placement="top" data-toggle="tooltip" title="Edit">
										<a routerLink='/case/case-update/{{case.id}}'>
											<i class="fa fa-edit"></i>
										</a>
									</p>
								</td>
								<td>
									<p data-placement="top" data-toggle="tooltip" title="View">
										<a>
											<i class="fa fa-info" routerLink="/case/case-details/{{case.id}}"></i>
										</a>
									</p>
								</td>
								<td>
									<a>
										<p data-placement="top" data-toggle="tooltip" (click)="deleteClient(case)"
											title="Delete">
											<i class="fa fa-trash"></i>
										</p>
									</a>
								</td>
							</tr>
							<tr class="NoResultFound" [hidden]='(cases| caseFilter:searchDetails).length'>
								<td colspan="4">No Result Found</td>
							</tr>
							<br>
							<tr class="pagginationContainer" style="background-color: lavenderblush;"
								[hidden]='!(cases| caseFilter:searchDetails).length || (cases| caseFilter:searchDetails).length < 13 '>
								<td colspan="4">
									<pagination-controls (pageChange)="p = $event"></pagination-controls>
								</td>
							</tr>
							<br>
						</tbody>
					</table>
					<br>

				</div>
			</div>
			<br>
		</div>

	</div>
</div>